<!-- <h1>
  Hello Angular {{title}}
  </h1>

  <br>
  <h1>
    {{data}}
  </h1>

  <br>
  <h1>
    {{getData()}}
  </h1> -->

  <app-register></app-register>
  <!-- ------------------  Parent to child data transfer ---------------------------- -->
  <!-- <app-test [item]="dataToTransfer"></app-test> -->
   <!-- ------------------ Child to parent data transfer ---------------------------------- -->
  <!-- <app-test (updateDataEvent) = "childToParent($event)"></app-test> -->

  <!-- <h1 *ngFor="let i of new_data">
    {{i.name}}
  </h1> -->

  


